/.vs/Jigsaw/v15/.suo
/.vs/Jigsaw/v15/Server/sqlite3/db.lock
/.vs/Jigsaw/v15/Server/sqlite3/storage.ide
/.vs/Jigsaw/v15/Server/sqlite3/storage.ide-shm
/.vs/Jigsaw/v15/Server/sqlite3/storage.ide-wal
/Temp/
/Temp/UnityVS_bin/Debug/Unity.Legacy.NRefactory.dll
/Temp/UnityVS_bin/Debug/Unity.SerializationLogic.dll
/Temp/UnityVS_bin/Debug/Unity.UNetWeaver.dll
/Temp/UnityVS_bin/Debug/UnityEditor.dll
/Temp/UnityVS_bin/Debug/UnityEditor.xml
/Temp/UnityVS_bin/Debug/UnityEngine.AccessibilityModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.AccessibilityModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.Advertisements.dll
/Temp/UnityVS_bin/Debug/UnityEngine.AIModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.AIModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.Analytics.dll
/Temp/UnityVS_bin/Debug/UnityEngine.AnimationModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.AnimationModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.ARModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.ARModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.AssetBundleModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.AssetBundleModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.AudioModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.AudioModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.ClothModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.ClothModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.ClusterInputModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.ClusterInputModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.ClusterRendererModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.ClusterRendererModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.CoreModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.CoreModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.CrashReportingModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.CrashReportingModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.DirectorModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.DirectorModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.dll
/Temp/UnityVS_bin/Debug/UnityEngine.GameCenterModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.GameCenterModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.GoogleAudioSpatializer.dll
/Temp/UnityVS_bin/Debug/UnityEngine.GoogleAudioSpatializer.xml
/Temp/UnityVS_bin/Debug/UnityEngine.GridModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.GridModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.HoloLens.dll
/Temp/UnityVS_bin/Debug/UnityEngine.HoloLens.xml
/Temp/UnityVS_bin/Debug/UnityEngine.ImageConversionModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.ImageConversionModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.IMGUIModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.IMGUIModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.InputModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.InputModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.JSONSerializeModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.JSONSerializeModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.Networking.dll
/Temp/UnityVS_bin/Debug/UnityEngine.Networking.xml
/Temp/UnityVS_bin/Debug/UnityEngine.ParticlesLegacyModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.ParticlesLegacyModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.ParticleSystemModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.ParticleSystemModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.PerformanceReportingModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.PerformanceReportingModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.Physics2DModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.Physics2DModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.PhysicsModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.PhysicsModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.Purchasing.dll
/Temp/UnityVS_bin/Debug/UnityEngine.ScreenCaptureModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.ScreenCaptureModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.SharedInternalsModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.SharedInternalsModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.SpatialTracking.dll
/Temp/UnityVS_bin/Debug/UnityEngine.SpatialTracking.xml
/Temp/UnityVS_bin/Debug/UnityEngine.SpriteMaskModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.SpriteMaskModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.SpriteShapeModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.SpriteShapeModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.StandardEvents.dll
/Temp/UnityVS_bin/Debug/UnityEngine.StyleSheetsModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.StyleSheetsModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.TerrainModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.TerrainModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.TerrainPhysicsModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.TerrainPhysicsModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.TestRunner.dll
/Temp/UnityVS_bin/Debug/UnityEngine.TestRunner.xml
/Temp/UnityVS_bin/Debug/UnityEngine.TextRenderingModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.TextRenderingModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.TilemapModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.TilemapModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.Timeline.dll
/Temp/UnityVS_bin/Debug/UnityEngine.Timeline.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UI.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UI.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UIAutomation.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UIAutomation.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UIElementsModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UIElementsModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UIModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UIModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UNETModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UNETModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UnityAnalyticsModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UnityAnalyticsModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UnityConnectModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UnityConnectModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UnityWebRequestAudioModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UnityWebRequestModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UnityWebRequestModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UnityWebRequestTextureModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UnityWebRequestWWWModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.VehiclesModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.VehiclesModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.VideoModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.VideoModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.VRModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.VRModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.WebModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.WebModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.WindModule.dll
/Temp/UnityVS_bin/Debug/UnityEngine.WindModule.xml
/Temp/UnityVS_bin/Debug/UnityEngine.xml
/Temp/UnityVS_obj/Debug/Assembly-CSharp.dll
/Temp/UnityVS_obj/Debug/Assembly-CSharp.pdb
/Temp/UnityVS_obj/Debug/Jigsaw.csproj.CopyComplete
/Temp/UnityVS_obj/Debug/Jigsaw.csproj.CoreCompileInputs.cache
/Temp/UnityVS_obj/Debug/Jigsaw.csproj.FileListAbsolute.txt
/Temp/UnityVS_obj/Debug/Jigsaw.csprojResolveAssemblyReference.cache
/Library/
/.vs
/Library

/Library/
/Library
/Library
